* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    height: 100%;
    background: rgb(174,233,255);
    background: linear-gradient(90deg, rgba(174,233,255,1) 0%, rgba(196,255,108,1) 25%, rgba(255,248,143,1) 50%, rgba(255,199,151,1) 75%, rgba(255,192,203,1) 100%); 
}
#teste {
    display: flex;
    flex-direction:row;
}

#relacionados {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: 870px;
    overflow-y: scroll;
    margin-top: 60px;
    margin-right: 320px;
    align-items: center;
    width:15%;
    border: 6px solid rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    background-color:transparent;
}

.grid {
    transition: ease-in .15s;
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
    display: flex;
    width: 55%;
    height: 870px;
    border-radius: 10px;
    border: 6px solid rgba(0, 0, 0, 0.65);
}

.leftSide {
    background-color:rgba(255, 255, 255, 0.18);
    text-align: center;
    /* display: flex; */
    height: 100%;
    border-radius: 2px;
    width: 60%;
}

.rightSide {
    background-color:rgba(255, 255, 255, 0.55);
    height: 100%;
    align-content: center; 
     align-items: center; 
    display: flex;
    flex-direction:column;
    overflow-y: auto;
    width: 40%;
    border-left: 3px solid rgba(0,0,0,0.65);
    border-radius: 12px;
    border-radius:0px 0px 12px 0px;
}


.pokemonCard {
    width: 50%;
    text-align: center;
    margin: 10px 0px 15px 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
}

#pokemon-type {
    margin-top: 10px;
    width: 100%;
    height: 70px;
}

.typeBox {
    background-color:rgba(255, 255, 255, 0.55);
    display: inline-block;
    width: 120px;
    margin: 4px;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.65);
    padding: 5px;
    font-size: 18px;

}

#pokemonImg {
    background-color:rgba(255, 255, 255, 0.55);
    margin: 10px;
    border-radius: 12px;
    border: 3px solid rgba(0, 0, 0,0.65);
    width: 55%;
    height: 35%;
    padding: 5px 15px 2px 15px;
    display: inline;
}

.rightSide::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 12px;
    background-clip: content-box;
  }
.rightSide::-webkit-scrollbar {
    width: 8px;
    background-color:rgba(0, 0, 0, 0.358);
    border-radius: 12px;
  }
.rightSide::-webkit-scrollbar-thumb {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8); */
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
#pokemon-name {
    display: block;
    font-size: 24px;

}

.with-img {
    display: flex;
    transition: ease-in .25s;
    flex-direction: column;
    width: 75%;
    height: 115px;
    text-align: center;
    margin: 10px 0px 15px 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
    align-content: center;
    align-items: center;
    font-size: 18px;
}
.with-img  img {
    /* position: static; */
    display: inline-block;
    /* align-self: flex-end; */
    height: 95px;
    width: 95px;

}


#pokemonDescript {
    background-color:rgba(255, 255, 255, 0.55);
    padding: 10px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 5px;
    width: 60%;
    font-size: 20px;
    border-radius: 12px;
    height: 170px;
    overflow-y: scroll;
    border: 3px solid rgba(0, 0, 0, 0.70);
    scrollbar-width: thin;
}

#pokemonDescript::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
  }
#pokemonDescript::-webkit-scrollbar {
    width: 8px;
  }
#pokemonDescript::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #c2c9d2;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
#pokemon-name {
    display: block;
    font-size: 24px;

}

#myInput {
    width: 80%;
    margin: 10px 0px 15px 5px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 24px;
    padding: 5px;
    outline: none;
    font-size: 17px;
    transition: ease-in-out .1s;
    /* position: absolute; */

}

#myInput:focus{
    transition: ease-in-out .1s;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.65);
}

#pokemonStats{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    gap: 5px;
}

.statsBox {
    background-color:rgba(255, 255, 255, 0.55);
    display: inline-block;
    margin: auto;
    border: 3px solid rgba(0, 0, 0, 0.65);
    width: 31%;
    margin-top: 5px;
    margin-bottom:  5px;
    height: 45px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
}

.fire {
    background-color: rgb(255, 219, 151);
}

.water {
    background-color: rgb(174, 233, 255);
}

.grass {
    background-color: rgb(196, 255, 108);
}

.bug {
    background-color: rgb(79, 141, 79);

}

.normal {
    background-color: white;
}

.electric {
    background-color:rgb(255, 248, 143);
}

.ground {
    background-color:rgb(158, 106, 75);
}

.fairy {
    background-color: pink;
}

.poison {
    background-color: rgb(193, 87, 87);
}

.psychic {
    background-color:rgb(229, 172, 255);
}

.ghost {
    background-color: rgb(174, 152, 216);
}

.ice {
    background-color:cornflowerblue;
}

.steel {
    background-color: rgb(184, 184, 184);
}

.dragon {
    background-color:rgb(183, 33, 63);
}

.dark {
    background-color: rgb(121, 33, 121);
}

.fighting {
    background-color: orange;
}

.rock {
    background-color: gray;
}


.with-img, .pokemonCard{
    transition: ease-in-out .1s;

}
.pokemonCard:hover{ 
   transition: ease-in-out .1s;
   padding: 16px;
}

@media only screen and (max-width: 900px) {
    #teste {
        overflow-y: scroll;
    }
    .grid{
        margin:auto;
        margin-top: 12px;
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        border: 4px solid rgba(0, 0, 0, 0.65);
        height: 768px;
    }

    #teste {
        flex-direction: column;
    }

    .rightSide{
        border: none;
        align-items:center;
        border-left: 3px solid rgba(0,0,0,0.65);

    }
    .pokemonCard{
        padding: 5px;
        text-align: center;
        font-size: 11px;
        width: 60%;
        margin-top: 10px;
        margin-bottom: 5px;
        
    }
    .leftSide {
        overflow-y: scroll;
        height: 100%;
    }
    #pokemonDescript {
        margin-top: 25px;
        font-size: 16px;
        overflow-y: scroll;
        
    }
    #pokemon-name {
        font-size: 20px;
    }
    #pokemonImg {
        width: 65%;
        height: 35%;
    }
    #myInput {
        padding: 7px;
        font-size: 11px;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    #pokemonStats{
        flex-direction: column;
        width: 300px;
        gap: 15px;
        flex-wrap: wrap;
        height: 150px;
        /* margin-top: 15px; */
        overflow-y: scroll;
        /* border: 3px solid rgba(0, 0, 0, 0.65); */
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 5px;

    }
    .statsBox {
        width: 85px;
        border: 2px solid rgba(0, 0, 0, 0.65);
        margin: auto;
        margin-top:5px;
        height: 35px;
        font-size: 13px;
        border-radius: 8px;
    }
    #relacionados {
        border: 4px solid rgba(0, 0, 0, 0.65);
        overflow: scroll;
        display: flex;
        overflow-y: scroll;
        height: 350px;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        width: 90%;
        margin-top: 25px;
        gap: 5px;

    }
    .with-img {
        flex-grow: 1;
        height: 120px;
        margin: auto;
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border: 3px solid rgba(0, 0, 0, 0.65);
        width: 25%;
        /* align-self: center; */
        /* flex-grow: 1; */
    }
    .pokemonCard:hover{
        padding: 10px;
    }
    .card {
        width: 50%;
    }
}

